footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b3571;
    color: #fff;
    padding: 10px 40px;  
}

.redesSociais{
    display: flex;
    gap: 15px;
}

.redesSociais p{
    margin: 5px 0;
}

.redesSociais img,
.logo__footer img{
    height: 30px;
    transition: transform 0.3s ease;
}

.redesSociais img:hover{
    transform: scale(1.1);
}

.copryright p{
    margin: 0;
    font-size: 14px;
    text-align: center;
}